body {
    font-family: sans-serif;
}

.container {
    width: min(80ch, 100vw - 2rem);
    margin-inline: auto;
    display: grid;
}

img {
    max-width: 100%;
    height: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ccc;
}

nav>ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.article {
    display: grid;
    place-content: center;
    border: 2px solid #ccc;
    padding: 1rem;
}